@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');

body{
    padding: 30px 60px;
    font-family: 'Baloo 2', cursive;
}

.back-button{
    width: 100%;
    margin: 30px 0px;
}

.dokter{
    display: flex;
    gap: 0px;
    width: 100%;
    background-color: red;
}

h2{
    font-weight: 700;
    font-size: 35px;
    color: #404040;
}

.box{
    padding: 20px 20px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25), inset 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.profil-dokter .box{
    /* width: 700px; */
    font-size: 20px;
    font-weight: 400;
    background-color: green;
}

.identitas-dokter{
    float: right;
    background-color: blue;
    align-items: end;;
}

.identitas-dokter img{
    width: 100%;
}
