.title-product{
    font-weight: bold;
    font-size: 30px;
    color: #78A2CC;
}

.desc-product{
    color: #78A2CC;
    font-size: 25px;
}

.rate{
    font-weight: bold;
    font-size: 60px;
}

.box-rate{
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
}

.progress-title{
    font-weight: bold;
    font-size: 22px;
}

.progress{
    width: 190px;
    height: 10px;
    background-color: #C3E4F1;
}

.rate-dist{
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
    font-size: 13px;
}

.progress-bar{
    background-color: #9FCAE6 ;
}

.user-text{
    font-weight: bold;
    color: #9FCAE6;
}

.user-text-span{
    font-weight: bold;
    color: black;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    color: black!important;
    background-color: #C3E4F1!important;
    border-color: #C3E4F1!important;
    border-radius: 1.188vw!important;
    width: 22.169vw!important;
    height: 4.751vw!important;
    font-size: 1.584vw!important;
    font-weight: var(--SEMIBOLD)!important;
    box-shadow: 0.317vw 0.317vw 0.317vw rgb(127, 127, 127)!important;
}

.biru-bawah{
    background-color: #78A2CC;
}

.box-komen-detailrating{
    background-color: #FFF7F6;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
}

.recommend-detailrating{
    display: flex;
    background-color: #BDFFBC;
    width: 340px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.nonrekomen{
    background-color: #FFBCBC;
}

.yesno-detailrating:hover{
    color: #78A2CC!important;
}

.gb-komen-detailrating{
    width: 390px;
    height: 210px;
}