
.box-form-luar{
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2);
    height: 1000px;
    padding-left: 70px;
    padding-top: 50px;
    padding-right: 70px;
    width: 80%;

}

.text-pastikan{
    color: #404040;
    font-weight:900;
    font-size: 30px;
}

.box-info-dokter{
    background-color: rgba(195, 228, 241, 0.47);
    border-radius: 10px;
}

.gb-dokter-form-info{
    height: 220px;
    width: 220px;
}

.nama-dokter-info-form{
    color: #404040;
    font-weight:1000;
    font-size: 30px;
}

.dokter-desc-form-info{
    color: #606060;
    font-weight: 100;
    font-size: 20px;
}

.edit-square-icon{
    height: 40px;
    width: 40px;
}

.form-label{
    color: #404040;
    font-weight:900;
    font-size: 20px;
}

.form-control{
    background-color: #D1D1D1;
}

input[type = 'text']:focus,
input[type = 'email']:focus,
input[type = 'tel']:focus{
    background-color: #D1D1D1;
}

.form-check-input{
    background-color: #D1D1D1;
    width: 30px;
    height: 30px;
}

.form-check-label{
    padding-left: 10px;
}

.tombol-book-dokter{
    width: 100%;
    color: white;
    background-color: #78A2CC;
    border-radius: 20px;
    outline: none;
    border: none;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

.tombol-book-dokter:hover{
    background-color: #9FCAE6;
}
.text-tombol-book{
    font-weight: bold;
}

.modal-body{
    background-color: #D9D9D9;
}
.book-sukses-detail{
    color: #757575;
    font-weight: bold;
}

.book-sukses{
    font-weight: bold;
    color: #78A2CC;
    font-size: 30px;
}

.book-sukses-detail-span{
    color: #78A2CC;
    font-weight: bold;
}

.modal-dialog, .modal-content, .modal-body{
    border-radius: 20px;
}
