:root{
    --PINK1: #FFB8C7;
    --PINK2: #F9C6D1;
    --PINK3: #F9D7D6;
    --WHITE: #FFF7F6;
    --BLUE1: #C3E4F1;
    --BLUE2: #9FCAE6;
    --BLUE3: #78A2CC;
    --REGULAR: 400;
    --MEDIUM: 500;
    --SEMIBOLD: 600;
    --BOLD: 700;
    --EXTRABOLD: 800;
}

*{
    font-family: 'Baloo 2', cursive;
}

.container-fluid{
    background-color: pink;
}
/* .navbar{
    background-color: aqua;
    width: 100%;
} */

.title{
    /* background-color: aquamarine; */
    font-weight: var(--SEMIBOLD);
    font-size: 2.375vw;
}

.desc{
    /* background-color: brown; */
    font-weight: var(--MEDIUM);
    font-size: 1.584vw;
    padding-bottom: 1.584vw;
}



.article{
    background-color: var(--BLUE3);
}

.book{
    background-color: var(--WHITE);
    padding-top: 1.584vw;
}

.bookimg img{
    width: 100%;
}

.bookdesc{
    /* background-color: darkseagreen; */
    text-align: center;
    font-weight: var(--MEDIUM);
    font-size: 1.584vw;
}

.btn-cstmlight{
    color: black;
    background-color: var(--PINK1);
    border-color: var(--PINK1);
    border-radius: 1.188vw;
    width: 22.169vw;
    height: 4.751vw;
    font-size: 1.584vw;
    font-weight: var(--SEMIBOLD);
    box-shadow: 0.317vw 0.317vw 0.317vw rgb(164, 164, 164) ;
}

.btn-cstmdark{
    color: var(--WHITE);
    background-color: var(--PINK2);
    border-color: var(--PINK2);
    border-radius: 1.188vw;
    width: 22.169vw;
    height: 4.751vw;
    font-size: 1.584vw;
    font-weight: var(--SEMIBOLD);
    box-shadow: 0.317vw 0.317vw 0.317vw rgb(127, 127, 127) ;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    color: black!important;
    background-color: var(--PINK2)!important;
    border-color: var(--PINK2)!important;
    border-radius: 1.188vw!important;
    width: 22.169vw!important;
    height: 4.751vw!important;
    font-size: 1.584vw!important;
    font-weight: var(--SEMIBOLD)!important;
    box-shadow: 0.317vw 0.317vw 0.317vw rgb(127, 127, 127)!important;
}
 
.row{
    --bs-gutter-x: 0rem!important
}

.article .btn-primary, .article .btn-primary:hover, .article .btn-primary:active, .article .btn-primary:visited{
    color: var(--WHITE)!important;
}

.paddingcustom{
    padding-left: 9.501vw;
    padding-right: 9.501vw;
    background-color: var(--WHITE);
    padding-top: 1.584vw;
    padding-bottom: 1.584vw
}

.biru{
    background-color: var(--BLUE3);
}

.full-width-content{
    padding-left: 0;
    padding-right: 0;
}

.sectionpic img{
    width: 100%;
    height: auto;
}

.awanbiru{
    /* margin-left: -1.5rem; */
    padding-left: -7.918vw;
    background-color: var(--BLUE3);
}

.article .title, .article .desc, .article .articleTitle, .article .articleDesc{
    color: var(--WHITE);
}

.article .articleDesc{
    font-size: 1.029vw;
    font-weight: var(--REGULAR);
}

.articleDesc a{
    color: var(--PINK3);
}

.article img{
    width: 100%;
}

.articleDesc a:hover{
    color: var(--PINK1);
}

.awanatas{
    transform: translate(0, 1%);
    align-items: stretch;
    z-index: 5;
    position: absolute;
    align-self: flex-end;

}

.trackbutton{
    /* transform: translate(0, 20%); */
    /* align-items: stretch; */
    z-index: 999;
    position: absolute;
    align-self: flex-end;
    text-align: center;
}

.trackbutton img{
    width: 20%;
}

.cropimg img{
    width: 100%;
    height: 43.547vw;
    object-fit: cover;
    object-position: 0 0;
}

.zoom {
    transition: transform .2s;
    padding-top: 1.584vw;
}
  
.zoom:hover {
    transform: scale(1.1);
}

.booksteps{
    padding-left: 3.959vw;
    /* background-color: red; */
}

/* @import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap'); */

/* *{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    position: relative;
}

.header{
    width: 100%;
    height: 120px;
} */

.menfess{
    background-color:#FFF7F6;
    /* background-size: cover;
    background-image: url("./ASSETS/home2/section3_background.png"); */
    position: relative;
    font-family: 'Baloo 2', cursive;
    padding: 120px;
}

.menfess .title{
    width: 100%;
    text-align: center;
    margin-top: -40px;
}

.menfess .judul{
    font-size: 40px;
    font-weight: 600px;
}

.menfess .title p{
    font-size: 25px;
    font-weight: 500px;
}

.container-via{
    padding: 60px 0;
}

.item{
    display: flex;
}

.scroll-container{
    overflow: auto;
    scroll-snap-type: x mandatory;
    display: flex;
}

.scroll-area{
    scroll-snap-align: center;
    background-color: #FFF7F6;
    border-style: solid;
    border-width: 2px;
    border-color: #D9D9D9;
    border-radius: 10px;
    padding: 30px;
    min-width: 415px;
    height: fit-content;
    margin: 10px;
    display: inline-block;
    margin: 20px;
    scroll-snap-align: center;
}

.person{
    display: flex;
}

.nama-profile{
    padding-left: 10px;
    align-items: center;
    justify-content: baseline;
    font-family: 'Roboto', sans-serif;
}

.nama-profile h5{
    font-size: 15px;
    font-weight: bold;
}

.nama-profile p{
    font-size: 12px;
    font-weight: normal;
}

.content p{
    /* display: none; */
    font-family: 'Roboto', sans-serif;
    font-size: 15;
    font-weight: normal;
}

.question p{
    font-size: 15px;
    font-weight: bold;
    font-family: 'Baloo 2', cursive;
    margin-bottom: 10px;
}

.content img{
    width: 100%;
}

.lanjut p{
    text-align: right;
}

.triple-buttons{
    display: flex;
    justify-content: baseline;
    list-style: none;
}

.triple-buttons li{
    margin-right: 10px;
}

.button{
    margin-top: 60px;
    width: 100%;
}

.bekgron img{
    width: 100%;
    margin: -5px 0;
}

.rating-and-review{
    background-color: #78A2CC;
    position: relative;
    font-family: 'Baloo 2', cursive;
    padding: 120px;
}

.rating-and-review .title, .rating-and-review .desc{
    color: var(--WHITE);
}

/* .rating-and-review .title{
    width: 100%;
    text-align: center;
    color: #FFF7F6;
    margin-top: 0px;
}

.rating-and-review .judul{
    font-size: 40px;
    font-weight: 600px;
} */

.rating-and-review .deskripsi{
    font-size: 25px;
    font-weight: 500px;
}

.scroll-container{
    margin: 100px 0;
}

.rating-and-review .scroll-area{
    display: flex;
    padding: 20px;
    min-width: 434px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
}

.rating-and-review .scroll-area .foto-produk img{
    margin-left: -5px;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.nama-produk h5{
    font-size: 25px;
    font-weight: semi-bold;
    margin-bottom: -10px;
}

.nama-produk p{
    font-size: 20px;
    font-weight: normal;
}

.count{
    display: flex;
    font-size: 18px;
    font-weight: normal;
}

.isi hr{
    background-color: #DEDEDE;
    margin: 10px 0;
    height: 1px;
}

.isi .person{
    width: 100%;
    display: flex;
}

.isi .person img{
    width: 20px;
    height: 20px;
}

.isi .person .nama-profile h5{
    font-size: 18px;
    font-weight: 550;
    font-family: 'Baloo2', cursive;
    margin-top: -5px;
    min-width: 190px;
}

.isi .rekomen{
    display: flex;
    background-color: #BDFFBC;
    font-size: 16px;
    font-weight: 400;
    color: #5EC75C;
    border-radius: 10px;
    padding: 5px;
    align-items: center;;
}

.button{
    text-align: center;
    align-items: center;
    border-radius: 20px;
    height: 75px;
    align-items: center;
}

.asu{
    margin-top: 120px;
    font-weight: 600;
    font-size: 25px;
    padding: 20px 100px;
    border-radius: 20px;
    display: inline;
    text-decoration: none;
}

.asu:hover{
    font-size: 27px;
    padding: 30px 120px;
}

.asu p{
    margin-top: 120px;
    font-weight: 600;
    font-size: 25px;
    padding: 20px 100px;
    background-color: #FFB8C7;;
    border-radius: 20px;
    width: 400px;
    display: inline;
    color: black;
    text-decoration: none;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3);
}

.asu p:hover{
    font-size: 27px;
    padding: 30px 120px;
    width: 450px;
    text-decoration: none;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3);
    background-color: #FFB8C7;
}