.bungkus-nav-profile{
    border-radius: 10px;
    border-style: solid;
    border-color: #78A2CC;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
    height: 420px;
}

.pict-nav-profile{
    padding-left: 40px;
}

/* .bungkus-profile-kiri:hover{
    color: #C3E4F1 !important;
} */

.bungkus-profile-kiri:hover .text-home-profile {
    color: #C3E4F1 !important;
}

.profile-box-navbar{
    background-color: #78A2CC;
    color: #FFF7F6;
    font-weight: bold;
    height: 90px;
    font-size: 25px;
}

.baris-profile-pict{
    margin-top: -40px;
}

.profile-pict{
    height: 90px;
    width: 90px;
}

.form-label{
    color: #78A2CC;
    font-weight: bold;
}

/* .input-group {
    border-style: solid;
    border-color: #9FCAE6;
    border-width: 1.5px;
    border-radius: 5px;
} */

/* .input-group{
    height: 40px !important;
} */

input:focus{
    outline: none;
}

.form-control{
    border-style: solid;
    border-color: #9FCAE6;
    border-width: 1.5px;
    border-radius: 5px;
}

.btn-update-profile{
    background-color: #78A2CC;
    color: #FFF7F6;
    font-weight: bold;
    border-radius: 30px;
}

.btn-update-profile:hover{
    color: #C3E4F1 !important;
    background-color: #78A2CC !important;
}

.modal-body{
    background-color: #78A2CC;
}
.book-sukses-detail{
    color: #757575;
    font-weight: bold;
}

.book-sukses{
    font-weight: bold;
    color: #FFF7F6;
    font-size: 30px;
}

.book-sukses-detail-span{
    color: #78A2CC;
    font-weight: bold;
}

.modal-dialog, .modal-content, .modal-body{
    border-radius: 20px;
}

.yes-profile{
    border: none !important;
    background-color: #FFB8C7;
    color: #FFF7F6;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
}
.no-profile{
    border: none !important;
    background-color: #FFF7F6;
    color: #78A2CC;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
}

.yes-profile:hover{
    background-color: #F9D7D6;
}

.no-profile:hover{
    background-color: #F9D7D6;
}


/* .form-control:valid {
    background-color: #FFF7F6 !important; 
} */