.title-modal{
    background-color: #FFB8C7;
    text-align: center;
    border-radius: 20px;
    color: white;
    font-size: 15px;
    height: 25px;
    /* width: 20px; */
}

.star-text{
    text-align: center;
    font-size: 15px;
    color: #9FCAE6;
}

.star-image{
    width: 50x;
    height: 50px;
    display: flex;
    justify-content: center;
}

.star-wrapper{
    width: 100px;
    margin-left: 10px;
    height: 100px;
    /* background-color: hotpink; */
    align-content: center;
}

.star-rating{
    display: flex;
    /* flex-direction: row; */
    /* background-color: black; */
    width: 500px;
    /* align-items: center; */
}

.star-rate{
    /* background-color: aqua; */
    display: flex;
    margin-top: 25px;
    flex-direction: row-reverse;
    margin-left: 70px;
    /* align-items: center; */
}

.modal-header{
    align-content: center;
    margin-top: 20px;
}

.star-all{
    display: flex;
    flex-direction: row;
}

.term-rate{
    color : #F9D7D6;
    font-size : 10px;
}

.recommend-text{
    font-weight: bold;
}

.submit-button{
    background-color: #C3E4F1;
}

.recom{
    color: #9B9A9A;
}

.submit-rate{
    background-color: #C3E4F1;
    color: black;
    font-weight: bold;
    width: 200px;
    border-radius: 10px;
}

.submit-rate:hover{
    background-color: #C3E4F1;
    color: black;
}


.rateButton-wrap{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.star-container .star-rate input{
    display: none;
}

.star-rate label{
    font-size: 20px;
    padding: 5px;
    color: #DBDBDB;
    transition: all 0.2 ease;
}

.star-rate input:not(:checked) ~ label:hover,
.star-rate input:not(:checked) ~ label:hover ~label{
    color: #FFB8C7;
}

.star-rate input:checked ~ label {
    color: #FFB8C7;
}

.star-rate input#rate-5:checked ~label{
    color: #FFB8C7;
}

.rate-notif{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    /* background-color: black; */
    justify-content: center;
}

.success-msg{
    font-size: 20px;
    color: #78A2CC;
    font-weight: bold;
    margin-top: 20px;
}

.recom:hover{
    cursor: pointer;
}