*{
    font-family: roboto;
}
.loginCont{
    border-radius: 20px;
    background-color: #F9C6D1;
}

.loginButton{
    border-radius: 50px;
    background-color: #FFF7F6;
}

.forms{
    border-radius: 15px;
}

.navigasi{
    background-color: #78A2CC;
    /* height: 100px; */
}