*{
    font-family: roboto;
}
.loginCont{
    border-radius: 20px;
    background-color: #F9C6D1;
}

.loginButton{
    border-radius: 50px;
    background-color: #FFF7F6;
}

.forms{
    border-radius: 15px;
}

.navigasi{
    background-color: #78A2CC;
    /* height: 100px; */
}

.searchBar{
    border-radius: 20px;
    background-color: #FFF7F6;
}

.searchButton {
    border-radius: 150px;
    background-color: #FFB8C7;
    border: 0px;
}

.searchIcon{
    color: #FFF7F6;
}

.nav-link{
    color: white;
    /* margin-right: 100px; */
}

.tabControl{
    background-color: #FFB8C7; 
    height: 50px;
    border-radius: 10px;
    color: white;
}

.containers{
    margin-left: 0px;
    margin-right: 0px;
}

.dropdown-aja {
    display: flex;
    justify-content: space-evenly;
}

.daerah {
    width: 300px;
    border-radius: 10px;
    color: #707070;
}