body{
    /* background: url('https://images.pexels.com/photos/15451777/pexels-photo-15451777/free-photo-of-laut-alam-matahari-terbenam-pemandangan-laut.jpeg?auto=compress&cs=tinysrgb&w=600') no-repeat center center fixed; */
    background: url('../img/trackInfoBG.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.title {
    font-family: 'Baloo 2', cursive;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
}

.desc {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
}

.conBtn a :hover{
    border-radius: 0;
    background-color: #9FCAE6;
}
