<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home1.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="full-width-content">
        <div class="row">
            <div class="navbar">
                <h1>ini navbar</h1>
            </div>
        </div>

        <div class="row">
            <div class="sectionpic awanatas">
                <img src="../../image/awanputih.png" alt="">
            </div>
            <div class="sectionpic trackbutton zoom">
                <a href="./nextpage.html">
                    <img src="../../image/track button.png" alt="">
                </a>
            </div>
            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="cropimg carousel-item active">
                    <img src="../../image/image1.jpg" class="d-block" alt="none">
                  </div>
                  <div class="cropimg carousel-item">
                    <img src="../../image/image2.jpg" class="d-block" alt="none">
                  </div>
                  <div class="cropimg carousel-item">
                    <img src="../../image/image3.jpg" class="d-block" alt="none">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>

        </div>

        <!-- ----------------------------------BOOK SECTION---------------------------------- -->
        <div class="row paddingcustom">
            <div class="container-fluid book">
                <div class="title text-center">
                    Our Medical Partner
                </div>
                <div class="desc text-center">
                    Find a doctor's schedule, book or make an appointment with an obstetrician.
                </div>
                <div class="booksteps">

                    <div class="row">
                        <div class="col-2">
                            <div class="bookimg">
                                <img src="../../image/book1.png" alt="">
                            </div>
                        </div>
                        <div class="col-1 d-flex align-items-center">
                            <div class="bookimg">
                                <img src="../../image/arrow.png" alt="">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="bookimg">
                                <img src="../../image/book2.png" alt="">
                            </div>
                        </div>
                        <div class="col-1 d-flex align-items-center">
                            <div class="bookimg">
                                <img src="../../image/arrow.png" alt="">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="bookimg">
                                <img src="../../image/book3.png" alt="">
                            </div>
                        </div>
                        <div class="col-1 d-flex align-items-center">
                            <div class="bookimg">
                                <img src="../../image/arrow.png" alt="">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="bookimg">
                                <img src="../../image/book4.png" alt="">
                            </div>
                        </div>
                    </div>
                    <!-- ---------------- -->
                    <div class="row">
                        <div class="col-2">
                            <div class="bookdesc">
                                Choose Your Location and Hospital
                            </div>
                        </div>
                        <div class="col-1">
                            
                        </div>
                        <div class="col-2">
                            <div class="bookdesc">
                                Choose Your Obgyn
                            </div>
                        </div>
                        <div class="col-1">
                            
                        </div>
                        <div class="col-2">
                            <div class="bookdesc">
                                Choose Date
                            </div>
                        </div>
                        <div class="col-1">
                            
                        </div>
                        <div class="col-2">
                            <div class="bookdesc">
                                Make an Appointment
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 text-center zoom">
                    <a href="./nextpage.html">
                        <button type="button" class="btn btn-primary">See More</button>
                    </a>
                </div>
            </div>
        </div>

        <!-- ----------------------------------ARTICLE SECTION---------------------------------- -->
        <div class="sectionpic awanbiru">
            <img src="../../image/awan.png" alt="">
        </div>
        <div class="row paddingcustom biru">
            <div class="container-fluid px-5 article">
                <div class="title text-center">
                    Article
                </div>
                <div class="desc text-center">
                    Get easy-to-read information on benefits or risk of medications, drugs, or other exposures during pregnancy and while breastfeeding.
                </div>
                <div class="row">
                  <div class="col-md-4 px-3">
                    <img src="../../image/articlepic.jpg" alt="">
                    <div class="articleTitle">
                        Ep. 54: Participating in a Pregnancy Study Part 2
                    </div>
                    <div class="articleDesc">
                        Leslie, a mom of two, joins host Chris Stallman to talk about her experience participating in a MotherToBaby pregnancy study. She describes the time commitment, benefits, study results and why..... 
                        <a href="nextpage.html">(continue)</a>
                    </div>
                    
                  </div>
                  <div class="col-md-4 px-3">
                    <img src="../../image/articlepic.jpg" alt="">
                    <div class="articleTitle">
                        Ep. 54: Participating in a Pregnancy Study Part 2
                    </div>
                    <div class="articleDesc">
                        Leslie, a mom of two, joins host Chris Stallman to talk about her experience participating in a MotherToBaby pregnancy study. She describes the time commitment, benefits, study results and why..... 
                        <a href="nextpage.html">(continue)</a>
                    </div>
                  </div>
                  <div class="col-md-4 px-3">
                    <img src="../../image/articlepic.jpg" alt="">
                    <div class="articleTitle">
                        Ep. 54: Participating in a Pregnancy Study Part 2
                    </div>
                    <div class="articleDesc">
                        Leslie, a mom of two, joins host Chris Stallman to talk about her experience participating in a MotherToBaby pregnancy study. She describes the time commitment, benefits, study results and why..... 
                        <a href="nextpage.html">(continue)</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 text-center zoom">
                    <a href="./nextpage.html">
                        <button type="button" class="btn btn-primary">See More</button>
                    </a>
                </div>
            </div>
        </div>

        <section>
            <div class="bekgron">
                <img src="./ASSETS/home2/section3_awan.png" alt="">
            </div>
        </section>
        <section class="menfess">
            <div class="title">
                <h2 class="judul">
                    Mention and Confess
                </h2>
                <p class="dekripsi">
                    share your opinions based the issues and discuss with others           
                </p>
            </div>
            <div class="container">
                <div class="scroll-container">
                    <div class="scroll-area">
                        <div class="person">
                            <div class="foto-profile">
                                <img src="./ASSETS/home2/section 3_profile-picture.png" alt="">
                            </div>
                            <div class="nama-profile">
                                <h5>
                                    Brian Setiawan 1
                                </h5>
                                <p>
                                    Bapak-Bapak yang sudah bekerja
                                </p>
                            </div>
                        </div>
                        <div class="content">
                            <div class="question">
                                <p>
                                    Bagaimana Cara Mengubah Hari Senin Menjadi Hari Minggu ?
                                </p>
                            </div>
                            <img src="./ASSETS/home2/section3_image-menfess.png" alt="">
                            <p>
                                Lorem ipsum dolor sit amet consectetur. Pharetra curabitur dolor lectus faucibus potenti nam commodo nec tincidunt. Gravida turpis morbi netus in. Adipiscing risus nulla vele
                            </p>
                            <a class="lanjut" href="#">
                                <p>
                                    (lanjut)
                                </p>
                            </a>
                        </div>
                        <div class="action-bar">
                            <ul class="triple-buttons">
                                <li class="like">
                                    <a href="#">
                                        <img src="./ASSETS/home2/section3_like.png" alt="">
                                    </a>
                                </li>
                                <li class="comment">
                                    <a href="#">
                                        <img src="./ASSETS/home2/section3_comment.png" alt="">
                                    </a>
                                </li>
                                <li class="share">
                                    <a href="#">
                                        <img src="./ASSETS/home2/section3_share.png" alt="">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="scroll-area">
                        <div class="person">
                            <div class="foto-profile">
                                <img src="./ASSETS/home2/section 3_profile-picture.png" alt="">
                            </div>
                            <div class="nama-profile">
                                <h5>
                                    Brian Setiawan 2
                                </h5>
                                <p>
                                    Bapak-Bapak yang sudah bekerja
                                </p>
                            </div>
                        </div>
                        <div class="content">
                            <div class="question">
                                <p>
                                    Bagaimana Cara Mengubah Hari Senin Menjadi Hari Minggu ?
                                </p>
                            </div>
                            <img src="./ASSETS/home2/section3_image-menfess.png" alt="">
                            <p>
                                Lorem ipsum dolor sit amet consectetur. Pharetra curabitur dolor lectus faucibus potenti nam commodo nec tincidunt. Gravida turpis morbi netus in. Adipiscing risus nulla vele
                            </p>
                            <a class="lanjut" href="#">
                                <p>
                                    (lanjut)
                                </p>
                            </a>
                        </div>
                        <div class="action-bar">
                            <ul class="triple-buttons">
                                <li class="like">
                                    <a href="#">
                                        <img src="./ASSETS/home2/section3_like.png" alt="">
                                    </a>
                                </li>
                                <li class="comment">
                                    <a href="#">
                                        <img src="./ASSETS/home2/section3_comment.png" alt="">
                                    </a>
                                </li>
                                <li class="share">
                                    <a href="#">
                                        <img src="./ASSETS/home2/section3_share.png" alt="">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="scroll-area">
                        <div class="person">
                            <div class="foto-profile">
                                <img src="./ASSETS/home2/section 3_profile-picture.png" alt="">
                            </div>
                            <div class="nama-profile">
                                <h5>
                                    Brian Setiawan 3
                                </h5>
                                <p>
                                    Bapak-Bapak yang sudah bekerja
                                </p>
                            </div>
                        </div>
                        <div class="content">
                            <div class="question">
                                <p>
                                    Bagaimana Cara Mengubah Hari Senin Menjadi Hari Minggu ?
                                </p>
                            </div>
                            <img src="./ASSETS/home2/section3_image-menfess.png" alt="">
                            <p>
                                Lorem ipsum dolor sit amet consectetur. Pharetra curabitur dolor lectus faucibus potenti nam commodo nec tincidunt. Gravida turpis morbi netus in. Adipiscing risus nulla vele
                            </p>
                            <a class="lanjut" href="#">
                                <p>
                                    (lanjut)
                                </p>
                            </a>
                        </div>
                        <div class="action-bar">
                            <ul class="triple-buttons">
                                <li class="like">
                                    <a href="#">
                                        <img src="./ASSETS/home2/section3_like.png" alt="">
                                    </a>
                                </li>
                                <li class="comment">
                                    <a href="#">
                                        <img src="./ASSETS/home2/section3_comment.png" alt="">
                                    </a>
                                </li>
                                <li class="share">
                                    <a href="#">
                                        <img src="./ASSETS/home2/section3_share.png" alt="">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="scroll-area">
                        <div class="person">
                            <div class="foto-profile">
                                <img src="./ASSETS/home2/section 3_profile-picture.png" alt="">
                            </div>
                            <div class="nama-profile">
                                <h5>
                                    Brian Setiawan 4
                                </h5>
                                <p>
                                    Bapak-Bapak yang sudah bekerja
                                </p>
                            </div>
                        </div>
                        <div class="content">
                            <div class="question">
                                <p>
                                    Bagaimana Cara Mengubah Hari Senin Menjadi Hari Minggu ?
                                </p>
                            </div>
                            <img src="./ASSETS/home2/section3_image-menfess.png" alt="">
                            <p>
                                Lorem ipsum dolor sit amet consectetur. Pharetra curabitur dolor lectus faucibus potenti nam commodo nec tincidunt. Gravida turpis morbi netus in. Adipiscing risus nulla vele
                            </p>
                            <a class="lanjut" href="#">
                                <p>
                                    (lanjut)
                                </p>
                            </a>
                        </div>
                        <div class="action-bar">
                            <ul class="triple-buttons">
                                <li class="like">
                                    <a href="#">
                                        <img src="./ASSETS/home2/section3_like.png" alt="">
                                    </a>
                                </li>
                                <li class="comment">
                                    <a href="#">
                                        <img src="./ASSETS/home2/section3_comment.png" alt="">
                                    </a>
                                </li>
                                <li class="share">
                                    <a href="#">
                                        <img src="./ASSETS/home2/section3_share.png" alt="">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="scroll-area">
                        <div class="person">
                            <div class="foto-profile">
                                <img src="./ASSETS/home2/section 3_profile-picture.png" alt="">
                            </div>
                            <div class="nama-profile">
                                <h5>
                                    Brian Setiawan 5
                                </h5>
                                <p>
                                    Bapak-Bapak yang sudah bekerja
                                </p>
                            </div>
                        </div>
                        <div class="content">
                            <div class="question">
                                <p>
                                    Bagaimana Cara Mengubah Hari Senin Menjadi Hari Minggu ?
                                </p>
                            </div>
                            <img src="./ASSETS/home2/section3_image-menfess.png" alt="">
                            <p>
                                Lorem ipsum dolor sit amet consectetur. Pharetra curabitur dolor lectus faucibus potenti nam commodo nec tincidunt. Gravida turpis morbi netus in. Adipiscing risus nulla vele
                            </p>
                            <a class="lanjut" href="#">
                                <p>
                                    (lanjut)
                                </p>
                            </a>
                        </div>
                        <div class="action-bar">
                            <ul class="triple-buttons">
                                <li class="like">
                                    <a href="#">
                                        <img src="./ASSETS/home2/section3_like.png" alt="">
                                    </a>
                                </li>
                                <li class="comment">
                                    <a href="#">
                                        <img src="./ASSETS/home2/section3_comment.png" alt="">
                                    </a>
                                </li>
                                <li class="share">
                                    <a href="#">
                                        <img src="./ASSETS/home2/section3_share.png" alt="">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="button">
                <a class="asu" href="#">
                    <p>
                        SEE MORE
                    </p>
                </a>
            </div>
        </section>
    
        <section>
            <div class="bekgron">
                <img src="./ASSETS/home2/section4_gunung.png" alt="">
            </div>
        </section>
        <section class="rating-and-review">
            <div class="title">
                <h2 class="judul">
                    Rating and Review
                </h2>
                <p class="deskripsi">
                    see and rate your choice of products
                </p>
            </div>
            <div class="scroll-container">
                <div class="scroll-area">
                    <div class="foto-produk">
                        <img src="./ASSETS/home2/section4_photo-product.png" alt="">
                    </div>
                    <div class="isi">
                        <div class="nama-produk">
                            <h5>
                                Johnsons Baby
                            </h5>
                            <p class="jenis-produk">
                                Baby Bath Blue 200ml
                            </p>
                        </div>
                        <div class="count">
                            <div class="rating">
    
                            </div>
                            <div class="average-rating">
                                <p>
                                    4.9
                                </p>
                            </div>
                            <div class="total-rating">
                                <p>
                                    250 people
                                </p>
                            </div>
                        </div>
                        <hr>
                        <div class="person">
                            <div class="foto-profile">
                                <img src="./ASSETS/home2/section4_profile-picture.png" alt="">
                            </div>
                            <div class="nama-profile">
                                <h5>
                                    NURHAYATI 1
                                </h5>
                            </div>
                            <a class="lanjut" href="#">
                                <p>
                                    (ALL REVIEWS)
                                </p>
                            </a>
                        </div>
                        <div class="rekomen">
                            <div class="jempol">
                                <img src="./ASSETS/home2/section4_jempol-rekomen.png" alt="">
                            </div>
                            <p class="username">
                                &nbsp;
                                NURHAYATI 1
                            </p>
                            <p>
                                &nbsp;
                                recommends this product!
                            </p>
                        </div>
                        <div reviews>
                            <p>
                                sabun nya wangi banget, anakku jadi seneng kalo mandi xixixi
                            </p>
                        </div>
                    </div>
                </div>
                <div class="scroll-area">
                    <div class="foto-produk">
                        <img src="./ASSETS/home2/section4_photo-product.png" alt="">
                    </div>
                    <div class="isi">
                        <div class="nama-produk">
                            <h5>
                                Johnsons Baby
                            </h5>
                            <p class="jenis-produk">
                                Baby Bath Blue 200ml
                            </p>
                        </div>
                        <div class="count">
                            <div class="rating">
    
                            </div>
                            <div class="average-rating">
                                <p>
                                    4.9
                                </p>
                            </div>
                            <div class="total-rating">
                                <p>
                                    250 people
                                </p>
                            </div>
                        </div>
                        <hr>
                        <div class="person">
                            <div class="foto-profile">
                                <img src="./ASSETS/home2/section4_profile-picture.png" alt="">
                            </div>
                            <div class="nama-profile">
                                <h5>
                                    NURHAYATI 2
                                </h5>
                            </div>
                            <a class="lanjut" href="#">
                                <p>
                                    (ALL REVIEWS)
                                </p>
                            </a>
                        </div>
                        <div class="rekomen">
                            <div class="jempol">
                                <img src="./ASSETS/home2/section4_jempol-rekomen.png" alt="">
                            </div>
                            <p class="username">
                                &nbsp;
                                NURHAYATI 2
                            </p>
                            <p>
                                &nbsp;
                                 recommends this product!
                            </p>
                        </div>
                        <div reviews>
                            <p>
                                sabun nya wangi banget, anakku jadi seneng kalo mandi xixixi
                            </p>
                        </div>
                    </div>
                </div>
                <div class="scroll-area">
                    <div class="foto-produk">
                        <img src="./ASSETS/home2/section4_photo-product.png" alt="">
                    </div>
                    <div class="isi">
                        <div class="nama-produk">
                            <h5>
                                Johnsons Baby
                            </h5>
                            <p class="jenis-produk">
                                Baby Bath Blue 200ml
                            </p>
                        </div>
                        <div class="count">
                            <div class="rating">
    
                            </div>
                            <div class="average-rating">
                                <p>
                                    4.9
                                </p>
                            </div>
                            <div class="total-rating">
                                <p>
                                    250 people
                                </p>
                            </div>
                        </div>
                        <hr>
                        <div class="person">
                            <div class="foto-profile">
                                <img src="./ASSETS/home2/section4_profile-picture.png" alt="">
                            </div>
                            <div class="nama-profile">
                                <h5>
                                    NURHAYATI 3
                                </h5>
                            </div>
                            <a class="lanjut" href="#">
                                <p>
                                    (ALL REVIEWS)
                                </p>
                            </a>
                        </div>
                        <div class="rekomen">
                            <div class="jempol">
                                <img src="./ASSETS/home2/section4_jempol-rekomen.png" alt="">
                            </div>
                            <p class="username">
                                &nbsp;
                                NURHAYATI 3
                            </p>
                            <p>
                                &nbsp;
                                 recommends this product!
                            </p>
                        </div>
                        <div reviews>
                            <p>
                                sabun nya wangi banget, anakku jadi seneng kalo mandi xixixi
                            </p>
                        </div>
                    </div>
                </div>
                <div class="scroll-area">
                    <div class="foto-produk">
                        <img src="./ASSETS/home2/section4_photo-product.png" alt="">
                    </div>
                    <div class="isi">
                        <div class="nama-produk">
                            <h5>
                                Johnsons Baby
                            </h5>
                            <p class="jenis-produk">
                                Baby Bath Blue 200ml
                            </p>
                        </div>
                        <div class="count">
                            <div class="rating">
    
                            </div>
                            <div class="average-rating">
                                <p>
                                    4.9
                                </p>
                            </div>
                            <div class="total-rating">
                                <p>
                                    250 people
                                </p>
                            </div>
                        </div>
                        <hr>
                        <div class="person">
                            <div class="foto-profile">
                                <img src="./ASSETS/home2/section4_profile-picture.png" alt="">
                            </div>
                            <div class="nama-profile">
                                <h5>
                                    NURHAYATI 4
                                </h5>
                            </div>
                            <a class="lanjut" href="#">
                                <p>
                                    (ALL REVIEWS)
                                </p>
                            </a>
                        </div>
                        <div class="rekomen">
                            <div class="jempol">
                                <img src="./ASSETS/home2/section4_jempol-rekomen.png" alt="">
                            </div>
                            <p class="username">
                                &nbsp;
                                NURHAYATI 4
                            </p>
                            <p>
                                &nbsp;
                                 recommends this product!
                            </p>
                        </div>
                        <div reviews>
                            <p>
                                sabun nya wangi banget, anakku jadi seneng kalo mandi xixixi
                            </p>
                        </div>
                    </div>
                </div>
                <div class="scroll-area">
                    <div class="foto-produk">
                        <img src="./ASSETS/home2/section4_photo-product.png" alt="">
                    </div>
                    <div class="isi">
                        <div class="nama-produk">
                            <h5>
                                Johnsons Baby
                            </h5>
                            <p class="jenis-produk">
                                Baby Bath Blue 200ml
                            </p>
                        </div>
                        <div class="count">
                            <div class="rating">
    
                            </div>
                            <div class="average-rating">
                                <p>
                                    4.9
                                </p>
                            </div>
                            <div class="total-rating">
                                <p>
                                    250 people
                                </p>
                            </div>
                        </div>
                        <hr>
                        <div class="person">
                            <div class="foto-profile">
                                <img src="./ASSETS/home2/section4_profile-picture.png" alt="">
                            </div>
                            <div class="nama-profile">
                                <h5>
                                    NURHAYATI 5
                                </h5>
                            </div>
                            <a class="lanjut" href="#">
                                <p>
                                    (ALL REVIEWS)
                                </p>
                            </a>
                        </div>
                        <div class="rekomen">
                            <div class="jempol">
                                <img src="./ASSETS/home2/section4_jempol-rekomen.png" alt="">
                            </div>
                            <p class="username">
                                &nbsp;
                                NURHAYATI 5
                            </p>
                            <p>
                                &nbsp;
                                 recommends this product!
                            </p>
                        </div>
                        <div reviews>
                            <p>
                                sabun nya wangi banget, anakku jadi seneng kalo mandi xixixi
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="button">
                <a class="asu" href="#">
                    <p>
                        SEE MORE
                    </p>
                </a>
            </div>
        </section>
        <footer>
            <div>
                <p> INI FOOTER NANTI </p>
            </div>
        </footer>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>