<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="book1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>Document</title>
</head>
<body>
    <div class="full-width-content">
        <div class="navbar">INI NAVBAR</div>
        <div class="container-fluid g-0 container-gb-book-dokter" style="position: relative">
            <img src="../../../public/img/bg-book-dokter.png" alt="" style="position: absolute; width :100%; height:100%; z-index: 1" class="bg-book-dokter">
            <div class="container-fluid g-0 container-text-info-bg" style="position: absolute; z-index: 2">
                <div class="row"> 
                    <div class="offset-5 col-3 d-flex justify-content-end">
                        <img src="../../../public/img/check-circle-rounded.svg" alt="" class="img-check-info">
                    </div>
                    <div class="col-4 text-info-bg d-flex align-items-center text-check-info" >Ribuan Dokter Berpengalaman</div>
                </div>
                <div class="row mt-3"> 
                    <div class="offset-5 col-3 d-flex justify-content-end">
                        <img src="../../../public/img/check-circle-rounded.svg" alt="" class="img-check-info">
                    </div>
                    <div class="col-4 text-info-bg d-flex align-items-center text-check-info" >Dari Rumah Sakit Terbaik</div>
                </div>
                <div class="row mt-3"> 
                    <div class="offset-5 col-3 d-flex justify-content-end">
                        <img src="../../../public/img/check-circle-rounded.svg" alt="" class="img-check-info">
                    </div>
                    <div class="col-4 text-info-bg d-flex align-items-center text-check-info" >Kepastian Jadwal Booking</div>
                </div>
            </div>
        </div>

        <div class="contentbookingdokter">
            <div class="row">
                <div class="col-md-4 status-book">
                    <div class="title">
                        Status Book
                    </div>
                    <div class="row box text-center">
                        <div class="box-atas">
                            <div class="date">
                                6 april 2023
                            </div>
                            <div class="time">
                                20.00 - 21.00 WIB
                            </div>
                        </div>
                        <div class="box-bawah">
                            <div class="datadokter">
                                <div class="nama-dokter">
                                    <div class="icon">
                                        <i class="fa-solid fa-user-doctor" style="color: #FFA5B8;" ></i>
                                    </div>
                                    Dr. Surya Setiakawan
                                </div>
                                <div class="nama-rs">
                                    <div class="icon">
                                        <i class="fa-solid fa-hospital" style="color: #FFA5B8;"></i>
                                    </div>
                                    RSUD Mangusada
                                </div>
                            </div>
                            <div class="cancelbutton">
                                <!-- <button>Cancel</button> -->
                                <a href="#popup1">
                                    <button type="button" class="btn btn-primary">Cancel</button>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="row box text-center">
                        <div class="box-atas">
                            <div class="date">
                                6 april 2023
                            </div>
                            <div class="time">
                                20.00 - 21.00 WIB
                            </div>
                        </div>
                        <div class="box-bawah">
                            <div class="datadokter">
                                <div class="nama-dokter">
                                    <div class="icon">
                                        <i class="fa-solid fa-user-doctor" style="color: #FFA5B8;" ></i>
                                    </div>
                                    Dr. Surya Setiakawan
                                </div>
                                <div class="nama-rs">
                                    <div class="icon">
                                        <i class="fa-solid fa-hospital" style="color: #FFA5B8;"></i>
                                    </div>
                                    RSUD Mangusada
                                </div>
                            </div>
                            <div class="cancelbutton">
                                <!-- <button>Cancel</button> -->
                                <a href="#popup1">
                                    <button type="button" class="btn btn-primary">Cancel</button>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="row box text-center">
                        <div class="box-atas">
                            <div class="date">
                                6 april 2023
                            </div>
                            <div class="time">
                                20.00 - 21.00 WIB
                            </div>
                        </div>
                        <div class="box-bawah">
                            <div class="datadokter">
                                <div class="nama-dokter">
                                    <div class="icon">
                                        <i class="fa-solid fa-user-doctor" style="color: #FFA5B8;" ></i>
                                    </div>
                                    Dr. Surya Setiakawan
                                </div>
                                <div class="nama-rs">
                                    <div class="icon">
                                        <i class="fa-solid fa-hospital" style="color: #FFA5B8;"></i>
                                    </div>
                                    RSUD Mangusada
                                </div>
                            </div>
                            <div class="cancelbutton">
                                <!-- <button>Cancel</button> -->
                                <a href="#popup1">
                                    <button type="button" class="btn btn-primary">Cancel</button>
                                </a>
                            </div>
                        </div>
                    </div>
    
                </div>
                <!-- ----------------------------POP UP KONFIRMASI----------------------------------- -->
                <div id="popup1" class="overlay">
                    <div class="popup">
                        <div class="warning-icon">
                            <i class="fa-solid fa-triangle-exclamation" style="color: #FFA5B8;"></i>
                        </div>
                        <div class="alert">
                            Yakin Ingin Melanjutkan Pembatalan Booking?
                        </div>
                        <div class="kumpulan-button">
                            <div class="buttonkembali">
                                <a href="#">
                                    <button type="button" class="btn btn-primary kembali">Kembali</button>
                                </a>
                            </div>
                            <div class="buttonlanjut">
                                <a href="#popup2">
                                    <button type="button" class="btn btn-primary cancel">Lanjut</button>
                                </a>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
                <!-- ----------------------------END POP UP KONFIRMASI----------------------------------- -->
                <!-- ----------------------------POP UP BERHASIL----------------------------------- -->
                <div id="popup2" class="overlay">
                    <div class="popup2">
                        <div class="alert">
                            Book Anda Telah Berhasil Dibatalkan
                        </div>
                        <div class="buttonkembali">
                            <a href="#">
                                <button type="button" class="btn btn-primary kembali">Kembali</button>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- ----------------------------END POP UP BERHASIL----------------------------------- -->
                <div class="col-md-8 pilih-dokter">
                    <div class="title">
                        Pilih Dokter
                    </div>
                    <div class="row">
                        <div class="kotakpilih"></div>
                        <div class="kotakpilih"></div>
                    </div>
                    <div class="row">
                        <div class="spesialisdoc">
                            <div class="foto">
                                <img src="../../../public/img/dokter.png" alt="">
                            </div>
                            <div class="keterangan">
                                <div class="title-dokter">
                                    Dr. I Gede Lanying
                                </div>
                                <div class="nama-spesialis">
                                    <div class="icon"><i class="fa-solid fa-stethoscope"></i></div>
                                    Dokter Spesialis Kandungan
                                </div>
                                <div class="rs-spesialis">
                                    <div class="icon"><i class="fa-solid fa-hospital"></i></div>
                                    Rumah Sakit Mangusada
                                </div>
                                <div class="loc-spesialis">
                                    <div class="icon"><i class="fa-solid fa-location-dot"></i></div>
                                    Badung, Bali
                                </div>
                                <div class="tahun-spesialis">
                                    <div class="icon"><i class="fa-solid fa-business-time"></i></div>
                                    5 Tahun
                                </div>
                            </div>
                            <div class="bookbutton">
                                <a href="#">
                                    <button type="button" class="btn btn-primary">Book</button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="spesialisdoc">
                            <div class="foto">
                                <img src="../../../public/img/dokter.png" alt="">
                            </div>
                            <div class="keterangan">
                                <div class="title-dokter">
                                    Dr. I Gede Lanying
                                </div>
                                <div class="nama-spesialis">
                                    <div class="icon"><i class="fa-solid fa-stethoscope"></i></div>
                                    Dokter Spesialis Kandungan
                                </div>
                                <div class="rs-spesialis">
                                    <div class="icon"><i class="fa-solid fa-hospital"></i></div>
                                    Rumah Sakit Mangusada
                                </div>
                                <div class="loc-spesialis">
                                    <div class="icon"><i class="fa-solid fa-location-dot"></i></div>
                                    Badung, Bali
                                </div>
                                <div class="tahun-spesialis">
                                    <div class="icon"><i class="fa-solid fa-business-time"></i></div>
                                    5 Tahun
                                </div>
                            </div>
                            <div class="bookbutton">
                                <a href="#">
                                    <button type="button" class="btn btn-primary">Book</button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="spesialisdoc">
                            <div class="foto">
                                <img src="../../../public/img/dokter.png" alt="">
                            </div>
                            <div class="keterangan">
                                <div class="title-dokter">
                                    Dr. I Gede Lanying
                                </div>
                                <div class="nama-spesialis">
                                    <div class="icon"><i class="fa-solid fa-stethoscope"></i></div>
                                    Dokter Spesialis Kandungan
                                </div>
                                <div class="rs-spesialis">
                                    <div class="icon"><i class="fa-solid fa-hospital"></i></div>
                                    Rumah Sakit Mangusada
                                </div>
                                <div class="loc-spesialis">
                                    <div class="icon"><i class="fa-solid fa-location-dot"></i></div>
                                    Badung, Bali
                                </div>
                                <div class="tahun-spesialis">
                                    <div class="icon"><i class="fa-solid fa-business-time"></i></div>
                                    5 Tahun
                                </div>
                            </div>
                            <div class="bookbutton">
                                <a href="#">
                                    <button type="button" class="btn btn-primary">Book</button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="spesialisdoc">
                            <div class="foto">
                                <img src="../../../public/img/dokter.png" alt="">
                            </div>
                            <div class="keterangan">
                                <div class="title-dokter">
                                    Dr. I Gede Lanying
                                </div>
                                <div class="nama-spesialis">
                                    <div class="icon"><i class="fa-solid fa-stethoscope"></i></div>
                                    Dokter Spesialis Kandungan
                                </div>
                                <div class="rs-spesialis">
                                    <div class="icon"><i class="fa-solid fa-hospital"></i></div>
                                    Rumah Sakit Mangusada
                                </div>
                                <div class="loc-spesialis">
                                    <div class="icon"><i class="fa-solid fa-location-dot"></i></div>
                                    Badung, Bali
                                </div>
                                <div class="tahun-spesialis">
                                    <div class="icon"><i class="fa-solid fa-business-time"></i></div>
                                    5 Tahun
                                </div>
                            </div>
                            <div class="bookbutton">
                                <a href="#">
                                    <button type="button" class="btn btn-primary">Book</button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="spesialisdoc">
                            <div class="foto">
                                <img src="../../../public/img/dokter.png" alt="">
                            </div>
                            <div class="keterangan">
                                <div class="title-dokter">
                                    Dr. I Gede Lanying
                                </div>
                                <div class="nama-spesialis">
                                    <div class="icon"><i class="fa-solid fa-stethoscope"></i></div>
                                    Dokter Spesialis Kandungan
                                </div>
                                <div class="rs-spesialis">
                                    <div class="icon"><i class="fa-solid fa-hospital"></i></div>
                                    Rumah Sakit Mangusada
                                </div>
                                <div class="loc-spesialis">
                                    <div class="icon"><i class="fa-solid fa-location-dot"></i></div>
                                    Badung, Bali
                                </div>
                                <div class="tahun-spesialis">
                                    <div class="icon"><i class="fa-solid fa-business-time"></i></div>
                                    5 Tahun
                                </div>
                            </div>
                            <div class="bookbutton">
                                <a href="#">
                                    <button type="button" class="btn btn-primary">Book</button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="spesialisdoc">
                            <div class="foto">
                                <img src="../../../public/img/dokter.png" alt="">
                            </div>
                            <div class="keterangan">
                                <div class="title-dokter">
                                    Dr. I Gede Lanying
                                </div>
                                <div class="nama-spesialis">
                                    <div class="icon"><i class="fa-solid fa-stethoscope"></i></div>
                                    Dokter Spesialis Kandungan
                                </div>
                                <div class="rs-spesialis">
                                    <div class="icon"><i class="fa-solid fa-hospital"></i></div>
                                    Rumah Sakit Mangusada
                                </div>
                                <div class="loc-spesialis">
                                    <div class="icon"><i class="fa-solid fa-location-dot"></i></div>
                                    Badung, Bali
                                </div>
                                <div class="tahun-spesialis">
                                    <div class="icon"><i class="fa-solid fa-business-time"></i></div>
                                    5 Tahun
                                </div>
                            </div>
                            <div class="bookbutton">
                                <a href="#">
                                    <button type="button" class="btn btn-primary">Book</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="footer">INI FOOTER</div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>