@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    position: relative;
    /* overflow: hidden; */
}

.header{
    width: 100%;
    height: 7.900vw;
}

.menfess{
    background-color:#FFF7F6;
    /* background-size: cover;
    background-image: url("./ASSETS/home2/section3_background.png"); */
    position: relative;
    font-family: 'Baloo 2', cursive;
    padding: 7.900vw;
}

.menfess .title{
    width: 100%;
    text-align: center;
    margin-top: -2.633vw;
}

.menfess .judul{
    font-size: 2.633vw;
    font-weight: 39.500vw;
}

.menfess .title p{
    font-size: 1.646vw;
    font-weight: 32.916vw;
}

/* .container{
    padding: 60px 0;
} */

.item{
    display: flex;
}

.scroll-container{
    /* padding: 60px 0; */
    overflow-x : scroll;
    /* scroll-snap-type: x mandatory; */
    display: flex;
    /* scroll-behavior: smooth; */
    /* width: 1200px;    */
    /* overflow: hidden; */
    scrollbar-width: none;
}

.container{
    /* /* overflow-x : scroll; */
    scroll-behavior: smooth; 
    /* overflow: hidden; */
    /* scroll-snap-type: x mandatory; */
    /* display: flex;
    scroll-behavior: smooth;*/
    width: 78.999vw;  
    scrollbar-width: none;
}

.scroll-container ::-webkit-scrollbar{
    display: none;
    scrollbar-width: none;
}

.scroll-area{
    /* scroll-snap-align: center; */
    background-color: #FFF7F6;
    border-style: solid;
    border-width: 0.132vw;
    border-color: #D9D9D9;
    border-radius: 0.658vw;
    padding: 1.975vw;
    min-width: 27.321vw;
    height: fit-content;
    margin: 0.658vw;
    display: inline-block;
    margin: 1.317vw;
    overflow-x: scroll;
    scrollbar-width: none;
}

.scroll-area ::-webkit-scrollbar{
    display: none;
    scrollbar-width: none;
}

.person{
    display: flex;
}

.nama-profile{
    padding-left: 0.658vw;
    align-items: center;
    justify-content: baseline;
    font-family: 'Roboto', sans-serif;
}

.nama-profile h5{
    font-size: 0.987vw;
    font-weight: bold;
}

.nama-profile p{
    font-size: 0.790vw;
    font-weight: normal;
}

.checked {
    color: #9FCAE6;
}

.content p{
    /* display: none; */
    font-family: 'Roboto', sans-serif;
    font-size: 15;
    font-weight: normal;
}

.question p{
    font-size: 0.987vw;
    font-weight: bold;
    font-family: 'Baloo 2', cursive;
    margin-bottom: 0.658vw;
}

.content img{
    width: 100%;
}

.lanjut p{
    text-align: right;
}

.triple-buttons{
    display: flex;
    justify-content: baseline;
    list-style: none;
}

.triple-buttons li{
    margin-right: 0.658vw;
}

.button{
    margin-top: 3.950vw;
    width: 100%;
}

.bekgron img{
    width: 100%;
    margin: -0.329vw 0;
}

.rating-and-review{
    background-color: #78A2CC;
    position: relative;
    font-family: 'Baloo 2', cursive;
    padding: 7.900vw;
}

.rating-and-review .title{
    width: 100%;
    text-align: center;
    color: #FFF7F6;
}

.rating-and-review .judul{
    font-size: 2.633vw;
    font-weight: 39.500vw;
}

.rating-and-review .deskripsi{
    font-size: 1.646vw;
    font-weight: 32.916vw;
}

.scroll-container{
    margin: 6.583vw 0;
}

.rating-and-review .scroll-area{
    display: flex;
    padding: 1.317vw;
    min-width: 28.571vw;
    box-shadow: 0.658vw 0.658vw 0.658vw rgba(0, 0, 0, 0.25);
}

.rating-and-review .scroll-area .foto-produk img{
    margin-left: -0.329vw;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.nama-produk h5{
    font-size: 1.646vw;
    font-weight: semi-bold;
    margin-bottom: -0.658vw;
}

.nama-produk p{
    font-size: 1.317vw;
    font-weight: normal;
}

.count{
    display: flex;
    font-size: 1.185vw;
    font-weight: normal;
}

.isi hr{
    background-color: #DEDEDE;
    margin: 0.658vw 0;
    height: 0.066vw;
}

.isi .person{
    width: 100%;
    display: flex;
}

.isi .person img{
    width: 1.317vw;
    height: 1.317vw;
}

.isi .person .nama-profile h5{
    font-size: 1.185vw;
    font-weight: 550;
    font-family: 'Baloo2', cursive;
    margin-top: -0.329vw;
    min-width: 12.508vw;
}

.isi .rekomen{
    display: flex;
    background-color: #BDFFBC;
    font-size: 1.053vw;
    font-weight: 400;
    color: #5EC75C;
    border-radius: 0.658vw;
    padding: 0.329vw;
    align-items: center;
}

.button{
    text-align: center;
    align-items: center;
    border-radius: 1.317vw;
    height: 4.937vw;
    align-items: center;
}

.asu{
    margin-top: 7.900vw;
    font-weight: 600;
    font-size: 1.646vw;
    padding: 1.317vw 6.583vw;
    border-radius: 1.317vw;
    display: inline;
    text-decoration: none;
}

.asu:hover{
    font-size: 1.777vw;
    padding: 1.975vw 7.900vw;
}

.asu p{
    margin-top: 7.900vw;
    font-weight: 600;
    font-size: 1.646vw;
    padding: 1.317vw 6.583vw;
    background-color: #FFB8C7;;
    border-radius: 1.317vw;
    width: 26.333vw;
    display: inline;
    color: black;
    text-decoration: none;
    box-shadow: 0.395vw 0.395vw 0.395vw rgba(0, 0, 0, 0.3);
}

.asu p:hover{
    font-size: 1.777vw;
    padding: 1.975vw 7.900vw;
    width: 29.625vw;
    text-decoration: none;
    box-shadow: 0.395vw 0.395vw 0.395vw rgba(0, 0, 0, 0.3);
    background-color: #FFB8C7;
}