<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home2.css">
    <link rel="stylesheet" href="responsive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Home</title>
</head>
<body>
    <header>
        <div>
            <p> INI HEADER NANTI </p>
        </div>
    </header>
    <section>
        <div class="bekgron">
            <img src="./ASSETS/home2/section3_awan.png" alt="">
        </div>
    </section>
    <section class="menfess">
        <div class="title">
            <h2 class="judul">
                Mention and Confess
            </h2>
            <p class="dekripsi">
                share your opinions based the issues and discuss with others           
            </p>
        </div>
        <!-- <div class="container"> -->
            <div class="scroll-container">
                <div class="scroll-area">
                    <div class="person">
                        <div class="foto-profile">
                            <img src="./ASSETS/home2/section 3_profile-picture.png" alt="">
                        </div>
                        <div class="nama-profile">
                            <h5>
                                Brian Setiawan 1
                            </h5>
                            <p>
                                Bapak-Bapak yang sudah bekerja
                            </p>
                        </div>
                    </div>
                    <div class="content">
                        <div class="question">
                            <p>
                                Bagaimana Cara Mengubah Hari Senin Menjadi Hari Minggu ?
                            </p>
                        </div>
                        <img src="./ASSETS/home2/section3_image-menfess.png" alt="">
                        <p>
                            Lorem ipsum dolor sit amet consectetur. Pharetra curabitur dolor lectus faucibus potenti nam commodo nec tincidunt. Gravida turpis morbi netus in. Adipiscing risus nulla vele
                        </p>
                        <a class="lanjut" href="#">
                            <p>
                                (lanjut)
                            </p>
                        </a>
                    </div>
                    <div class="action-bar">
                        <ul class="triple-buttons">
                            <li class="like">
                                <a href="#">
                                    <img src="./ASSETS/home2/section3_like.png" alt="">
                                </a>
                            </li>
                            <li class="comment">
                                <a href="#">
                                    <img src="./ASSETS/home2/section3_comment.png" alt="">
                                </a>
                            </li>
                            <li class="share">
                                <a href="#">
                                    <img src="./ASSETS/home2/section3_share.png" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="scroll-area">
                    <div class="person">
                        <div class="foto-profile">
                            <img src="./ASSETS/home2/section 3_profile-picture.png" alt="">
                        </div>
                        <div class="nama-profile">
                            <h5>
                                Brian Setiawan 2
                            </h5>
                            <p>
                                Bapak-Bapak yang sudah bekerja
                            </p>
                        </div>
                    </div>
                    <div class="content">
                        <div class="question">
                            <p>
                                Bagaimana Cara Mengubah Hari Senin Menjadi Hari Minggu ?
                            </p>
                        </div>
                        <img src="./ASSETS/home2/section3_image-menfess.png" alt="">
                        <p>
                            Lorem ipsum dolor sit amet consectetur. Pharetra curabitur dolor lectus faucibus potenti nam commodo nec tincidunt. Gravida turpis morbi netus in. Adipiscing risus nulla vele
                        </p>
                        <a class="lanjut" href="#">
                            <p>
                                (lanjut)
                            </p>
                        </a>
                    </div>
                    <div class="action-bar">
                        <ul class="triple-buttons">
                            <li class="like">
                                <a href="#">
                                    <img src="./ASSETS/home2/section3_like.png" alt="">
                                </a>
                            </li>
                            <li class="comment">
                                <a href="#">
                                    <img src="./ASSETS/home2/section3_comment.png" alt="">
                                </a>
                            </li>
                            <li class="share">
                                <a href="#">
                                    <img src="./ASSETS/home2/section3_share.png" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="scroll-area">
                    <div class="person">
                        <div class="foto-profile">
                            <img src="./ASSETS/home2/section 3_profile-picture.png" alt="">
                        </div>
                        <div class="nama-profile">
                            <h5>
                                Brian Setiawan 3
                            </h5>
                            <p>
                                Bapak-Bapak yang sudah bekerja
                            </p>
                        </div>
                    </div>
                    <div class="content">
                        <div class="question">
                            <p>
                                Bagaimana Cara Mengubah Hari Senin Menjadi Hari Minggu ?
                            </p>
                        </div>
                        <img src="./ASSETS/home2/section3_image-menfess.png" alt="">
                        <p>
                            Lorem ipsum dolor sit amet consectetur. Pharetra curabitur dolor lectus faucibus potenti nam commodo nec tincidunt. Gravida turpis morbi netus in. Adipiscing risus nulla vele
                        </p>
                        <a class="lanjut" href="#">
                            <p>
                                (lanjut)
                            </p>
                        </a>
                    </div>
                    <div class="action-bar">
                        <ul class="triple-buttons">
                            <li class="like">
                                <a href="#">
                                    <img src="./ASSETS/home2/section3_like.png" alt="">
                                </a>
                            </li>
                            <li class="comment">
                                <a href="#">
                                    <img src="./ASSETS/home2/section3_comment.png" alt="">
                                </a>
                            </li>
                            <li class="share">
                                <a href="#">
                                    <img src="./ASSETS/home2/section3_share.png" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="scroll-area">
                    <div class="person">
                        <div class="foto-profile">
                            <img src="./ASSETS/home2/section 3_profile-picture.png" alt="">
                        </div>
                        <div class="nama-profile">
                            <h5>
                                Brian Setiawan 4
                            </h5>
                            <p>
                                Bapak-Bapak yang sudah bekerja
                            </p>
                        </div>
                    </div>
                    <div class="content">
                        <div class="question">
                            <p>
                                Bagaimana Cara Mengubah Hari Senin Menjadi Hari Minggu ?
                            </p>
                        </div>
                        <img src="./ASSETS/home2/section3_image-menfess.png" alt="">
                        <p>
                            Lorem ipsum dolor sit amet consectetur. Pharetra curabitur dolor lectus faucibus potenti nam commodo nec tincidunt. Gravida turpis morbi netus in. Adipiscing risus nulla vele
                        </p>
                        <a class="lanjut" href="#">
                            <p>
                                (lanjut)
                            </p>
                        </a>
                    </div>
                    <div class="action-bar">
                        <ul class="triple-buttons">
                            <li class="like">
                                <a href="#">
                                    <img src="./ASSETS/home2/section3_like.png" alt="">
                                </a>
                            </li>
                            <li class="comment">
                                <a href="#">
                                    <img src="./ASSETS/home2/section3_comment.png" alt="">
                                </a>
                            </li>
                            <li class="share">
                                <a href="#">
                                    <img src="./ASSETS/home2/section3_share.png" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="scroll-area">
                    <div class="person">
                        <div class="foto-profile">
                            <img src="./ASSETS/home2/section 3_profile-picture.png" alt="">
                        </div>
                        <div class="nama-profile">
                            <h5>
                                Brian Setiawan 5
                            </h5>
                            <p>
                                Bapak-Bapak yang sudah bekerja
                            </p>
                        </div>
                    </div>
                    <div class="content">
                        <div class="question">
                            <p>
                                Bagaimana Cara Mengubah Hari Senin Menjadi Hari Minggu ?
                            </p>
                        </div>
                        <img src="./ASSETS/home2/section3_image-menfess.png" alt="">
                        <p>
                            Lorem ipsum dolor sit amet consectetur. Pharetra curabitur dolor lectus faucibus potenti nam commodo nec tincidunt. Gravida turpis morbi netus in. Adipiscing risus nulla vele
                        </p>
                        <a class="lanjut" href="#">
                            <p>
                                (lanjut)
                            </p>
                        </a>
                    </div>
                    <div class="action-bar">
                        <ul class="triple-buttons">
                            <li class="like">
                                <a href="#">
                                    <img src="./ASSETS/home2/section3_like.png" alt="">
                                </a>
                            </li>
                            <li class="comment">
                                <a href="#">
                                    <img src="./ASSETS/home2/section3_comment.png" alt="">
                                </a>
                            </li>
                            <li class="share">
                                <a href="#">
                                    <img src="./ASSETS/home2/section3_share.png" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        <!-- </div> -->
        <div class="button">
            <a class="asu" href="#">
                <p>
                    SEE MORE
                </p>
            </a>
        </div>
    </section>

    <section>
        <div class="bekgron">
            <img src="./ASSETS/home2/section4_gunung.png" alt="">
        </div>
    </section>
    <section class="rating-and-review">
        <div class="title">
            <h2 class="judul">
                Rating and Review
            </h2>
            <p class="deskripsi">
                see and rate your choice of products
            </p>
        </div>
        <div class="scroll-container">
            <div class="scroll-area">
                <div class="foto-produk">
                    <img src="./ASSETS/home2/section4_photo-product.png" alt="">
                </div>
                <div class="isi">
                    <div class="nama-produk">
                        <h5>
                            Johnsons Baby
                        </h5>
                        <p class="jenis-produk">
                            Baby Bath Blue 200ml
                        </p>
                    </div>
                    <div class="count">
                        <div class="rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <div class="average-rating">
                            <p>
                                &nbsp; 4.9 &nbsp;
                            </p>
                        </div>
                        <div class="total-rating">
                            <p>
                                (250 people)
                            </p>
                        </div>
                    </div>
                    <hr>
                    <div class="person">
                        <div class="foto-profile">
                            <img src="./ASSETS/home2/section4_profile-picture.png" alt="">
                        </div>
                        <div class="nama-profile">
                            <h5>
                                NURHAYATI 1
                            </h5>
                        </div>
                        <a class="lanjut" href="#">
                            <p>
                                (ALL REVIEWS)
                            </p>
                        </a>
                    </div>
                    <div class="rekomen">
                        <div class="jempol">
                            <img src="./ASSETS/home2/section4_jempol-rekomen.png" alt="">
                        </div>
                        <p class="username">
                            &nbsp;
                            NURHAYATI 1
                        </p>
                        <p>
                            &nbsp;
                            recommends this product!
                        </p>
                    </div>
                    <div reviews>
                        <p>
                            sabun nya wangi banget, anakku jadi seneng kalo mandi xixixi
                        </p>
                    </div>
                </div>
            </div>
            <div class="scroll-area">
                <div class="foto-produk">
                    <img src="./ASSETS/home2/section4_photo-product.png" alt="">
                </div>
                <div class="isi">
                    <div class="nama-produk">
                        <h5>
                            Johnsons Baby
                        </h5>
                        <p class="jenis-produk">
                            Baby Bath Blue 200ml
                        </p>
                    </div>
                    <div class="count">
                        <div class="rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <div class="average-rating">
                            <p>
                                &nbsp; 4.9 &nbsp;
                            </p>
                        </div>
                        <div class="total-rating">
                            <p>
                                (250 people)
                            </p>
                        </div>
                    </div>
                    <hr>
                    <div class="person">
                        <div class="foto-profile">
                            <img src="./ASSETS/home2/section4_profile-picture.png" alt="">
                        </div>
                        <div class="nama-profile">
                            <h5>
                                NURHAYATI 2
                            </h5>
                        </div>
                        <a class="lanjut" href="#">
                            <p>
                                (ALL REVIEWS)
                            </p>
                        </a>
                    </div>
                    <div class="rekomen">
                        <div class="jempol">
                            <img src="./ASSETS/home2/section4_jempol-rekomen.png" alt="">
                        </div>
                        <p class="username">
                            &nbsp;
                            NURHAYATI 2
                        </p>
                        <p>
                            &nbsp;
                             recommends this product!
                        </p>
                    </div>
                    <div reviews>
                        <p>
                            sabun nya wangi banget, anakku jadi seneng kalo mandi xixixi
                        </p>
                    </div>
                </div>
            </div>
            <div class="scroll-area">
                <div class="foto-produk">
                    <img src="./ASSETS/home2/section4_photo-product.png" alt="">
                </div>
                <div class="isi">
                    <div class="nama-produk">
                        <h5>
                            Johnsons Baby
                        </h5>
                        <p class="jenis-produk">
                            Baby Bath Blue 200ml
                        </p>
                    </div>
                    <div class="count">
                        <div class="rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <div class="average-rating">
                            <p>
                                &nbsp; 4.9 &nbsp;
                            </p>
                        </div>
                        <div class="total-rating">
                            <p>
                                (250 people)
                            </p>
                        </div>
                    </div>
                    <hr>
                    <div class="person">
                        <div class="foto-profile">
                            <img src="./ASSETS/home2/section4_profile-picture.png" alt="">
                        </div>
                        <div class="nama-profile">
                            <h5>
                                NURHAYATI 3
                            </h5>
                        </div>
                        <a class="lanjut" href="#">
                            <p>
                                (ALL REVIEWS)
                            </p>
                        </a>
                    </div>
                    <div class="rekomen">
                        <div class="jempol">
                            <img src="./ASSETS/home2/section4_jempol-rekomen.png" alt="">
                        </div>
                        <p class="username">
                            &nbsp;
                            NURHAYATI 3
                        </p>
                        <p>
                            &nbsp;
                             recommends this product!
                        </p>
                    </div>
                    <div reviews>
                        <p>
                            sabun nya wangi banget, anakku jadi seneng kalo mandi xixixi
                        </p>
                    </div>
                </div>
            </div>
            <div class="scroll-area">
                <div class="foto-produk">
                    <img src="./ASSETS/home2/section4_photo-product.png" alt="">
                </div>
                <div class="isi">
                    <div class="nama-produk">
                        <h5>
                            Johnsons Baby
                        </h5>
                        <p class="jenis-produk">
                            Baby Bath Blue 200ml
                        </p>
                    </div>
                    <div class="count">
                        <div class="rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <div class="average-rating">
                            <p>
                                &nbsp; 4.9 &nbsp;
                            </p>
                        </div>
                        <div class="total-rating">
                            <p>
                                (250 people)
                            </p>
                        </div>
                    </div>
                    <hr>
                    <div class="person">
                        <div class="foto-profile">
                            <img src="./ASSETS/home2/section4_profile-picture.png" alt="">
                        </div>
                        <div class="nama-profile">
                            <h5>
                                NURHAYATI 4
                            </h5>
                        </div>
                        <a class="lanjut" href="#">
                            <p>
                                (ALL REVIEWS)
                            </p>
                        </a>
                    </div>
                    <div class="rekomen">
                        <div class="jempol">
                            <img src="./ASSETS/home2/section4_jempol-rekomen.png" alt="">
                        </div>
                        <p class="username">
                            &nbsp;
                            NURHAYATI 4
                        </p>
                        <p>
                            &nbsp;
                             recommends this product!
                        </p>
                    </div>
                    <div reviews>
                        <p>
                            sabun nya wangi banget, anakku jadi seneng kalo mandi xixixi
                        </p>
                    </div>
                </div>
            </div>
            <div class="scroll-area">
                <div class="foto-produk">
                    <img src="./ASSETS/home2/section4_photo-product.png" alt="">
                </div>
                <div class="isi">
                    <div class="nama-produk">
                        <h5>
                            Johnsons Baby
                        </h5>
                        <p class="jenis-produk">
                            Baby Bath Blue 200ml
                        </p>
                    </div>
                    <div class="count">
                        <div class="rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <div class="average-rating">
                            <p>
                                &nbsp; 4.9 &nbsp;
                            </p>
                        </div>
                        <div class="total-rating">
                            <p>
                                (250 people)
                            </p>
                        </div>
                    </div>
                    <hr>
                    <div class="person">
                        <div class="foto-profile">
                            <img src="./ASSETS/home2/section4_profile-picture.png" alt="">
                        </div>
                        <div class="nama-profile">
                            <h5>
                                NURHAYATI 5
                            </h5>
                        </div>
                        <a class="lanjut" href="#">
                            <p>
                                (ALL REVIEWS)
                            </p>
                        </a>
                    </div>
                    <div class="rekomen">
                        <div class="jempol">
                            <img src="./ASSETS/home2/section4_jempol-rekomen.png" alt="">
                        </div>
                        <p class="username">
                            &nbsp;
                            NURHAYATI 5
                        </p>
                        <p>
                            &nbsp;
                             recommends this product!
                        </p>
                    </div>
                    <div reviews>
                        <p>
                            sabun nya wangi banget, anakku jadi seneng kalo mandi xixixi
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="button">
            <a class="asu" href="#">
                <p>
                    SEE MORE
                </p>
            </a>
        </div>
    </section>
    <footer>
        <div>
            <p> INI FOOTER NANTI YA</p>
        </div>
    </footer>
</body>
</html>