<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="./responsive.css">
    <title>Home</title>
</head>
<body>
    <header>
        <div>
            <p> INI HEADER NANTI </p>
        </div>
    </header>

    <section class="menfess">
        <div class="title-menfess">
            <h2>
                Mention and Confess
            </h2>
            <p>
                Share your opinions on the issue and discuss with others.
            </p>
        </div>
        <div class="container">
            <div class="item">
                <div class="title">
                    <div class="foto-profile">
                        <img src="https://www.pexels.com/photo/man-reading-newspaper-in-subway-15843892/" alt="">
                    </div>
                    <div class="nama-profile">
                        <h5>
                            Brian Setiawan
                        </h5>
                        <p>
                            Bapak-Bapak yang sudah bekerja
                        </p>
                    </div>
                    <div class="content">
                        <img src="https://www.pexels.com/photo/man-reading-newspaper-in-subway-15843892/" alt="">
                        <p>
                            Lorem ipsum dolor sit amet consectetur. Pharetra curabitur dolor lectus faucibus potenti nam commodo nec tincidunt. Gravida turpis morbi netus in. Adipiscing risus nulla vele
                        </p>
                        <p>
                            (lanjut)
                        </p>
                    </div>
                    <div class="action-bar">
                        <ul>
                            <li class="like">
                                <a href="#">
                                    <i>
                                        like
                                    </i>
                                </a>
                            </li>
                            <li class="comment">
                                <a href="#">
                                    <i>
                                        comment
                                    </i>
                                </a>
                            </li>
                            <li class="share">
                                <a href="#">
                                    <i>
                                        share
                                    </i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="button">
            <p>
                SEE MORE
            </p>
        </div>
    </section>

    <section class="rating-and-review">
        <div class="title-rating-and-review">
            <h2>
                Rating and Review
            </h2>
            <p>
                Share your opinions on the issue and discuss with others.
            </p>
        </div>
        <div class="container">
            <div class="item">
                <div class="foto-produk">
                    <img src="https://www.pexels.com/photo/man-reading-newspaper-in-subway-15843892/" alt="">
                </div>
                <div class="title">
                    <div class="nama-produk">
                        <h5>
                            Johnsons Baby
                        </h5>
                        <p>
                            Baby Bath Blue 200ml
                        </p>
                    </div>
                        <div class="content">
                            <img src="https://www.pexels.com/photo/man-reading-newspaper-in-subway-15843892/" alt="">
                            <p>
                                Lorem ipsum dolor sit amet consectetur. Pharetra curabitur dolor lectus faucibus potenti nam commodo nec tincidunt. Gravida turpis morbi netus in. Adipiscing risus nulla vele
                            </p>
                            <p>
                                (lanjut)
                            </p>
                        </div>
                        <div class="action-bar">
                            <ul>
                                <li class="like">
                                    <a href="#">
                                        <i>
                                            like
                                        </i>
                                    </a>
                                </li>
                                <li class="comment">
                                    <a href="#">
                                        <i>
                                            comment
                                        </i>
                                    </a>
                                </li>
                                <li class="share">
                                    <a href="#">
                                        <i>
                                            share
                                        </i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="button">
            <p>
                SEE MORE
            </p>
        </div>
    </section>

    <footer>
        <div>
            <p> INI FOOTER NANTI </p>
        </div>
    </footer>
</body>
</html>