<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/detail-dokter.css">
    <!-- <link rel="stylesheet" href="/responsive.css"> -->
    <title>Detail Dokter</title>
</head>
<body>
    <header>
        <div>
            <p> INI HEADER NANTI </p>
        </div>
    </header>
    <section class="back-button">
        <div class="button">
            <a href="#">
                <img src="/ASSETS/booking dokter/back-button.png" alt="">
            </a>
        </div>
    </section>
    <section class="content">
        <div class="dokter">
            <div class="profil-dokter">
                <h2 class="judul">Profil Dokter</h2>
                <p class="box">
                    Dr. Ida Ayu Putri Maharani adalah seorang Dokter Spesialis Kandungan yang berpraktik di Rumah Sakit Mangusada. Beliau dapat membantu layanan Konsultasi mengenai kandungan.
                    <br> <br>
                    Dr. Ida Ayu Putri Maharani menamatkan pendidikan Kedokteran Umum di Universitas Kristen Krida Wacana, lulus pada tahun 2019. Selain itu, beliau juga tercatat sebagai anggota Ikatan Dokter Indonesia (IDI).
                </p>
            </div>
            <div class="identitas-dokter">
                <img src="/ASSETS/booking dokter/foto-dokter.png" alt="">
                <h1>Dr. Ida Ayu Putri Maharani</h1>
                <p class="jenis-dokter">
                    Dokter Spesialis Kandungan
                </p>
                <div class="book-button">
                    <a class="asu" href="#">
                        <p>
                            Book
                        </p>
                    </a>
                </div>
            </div>
        </div>
        <div class="praktek-dokter">
            <h2 class="judul">Lokasi & Jadwal Praktik</h2>
            <div class="box">
                <div class="rumah-sakit">
                    <img src="/ASSETS/booking dokter/foto-rs.png" alt="">
                    <div class="profil-rs">
                        <h3 class="nama-rs">
                            RSUD Mangusada
                        </h3>
                        <p class="lokasi">
                            Badung, Bali
                        </p>
                        <p class="bukanya-kapan">
                            Kamis, Jumat, Sabtu
                        </p>
                    </div>
                </div>
                <div class="list-jadwal">
                    <div class="item">
                        <h4 class="tanggal">
                            Kamis , 6 April 2023
                        </h4>
                        <p class="jam">
                            09.00 - 12.00
                        </p>
                        <hr>
                    </div>
                    <div class="item">
                        <h4 class="tanggal">
                            Kamis , 6 April 2023
                        </h4>
                        <p class="jam">
                            09.00 - 12.00
                        </p>
                        <hr>
                    </div>
                    <div class="item">
                        <h4 class="tanggal">
                            Kamis , 6 April 2023
                        </h4>
                        <p class="jam">
                            09.00 - 12.00
                        </p>
                        <hr>
                    </div>
                    <div class="item">
                        <h4 class="tanggal">
                            Kamis , 6 April 2023
                        </h4>
                        <p class="jam">
                            09.00 - 12.00
                        </p>
                        <hr>
                    </div>
                    <div class="item">
                        <h4 class="tanggal">
                            Kamis , 6 April 2023
                        </h4>
                        <p class="jam">
                            09.00 - 12.00
                        </p>
                        <hr>
                    </div>
                    <div class="item">
                        <h4 class="tanggal">
                            Kamis , 6 April 2023
                        </h4>
                        <p class="jam">
                            09.00 - 12.00
                        </p>
                        <hr>
                    </div>
                    <div class="item">
                        <h4 class="tanggal">
                            Kamis , 6 April 2023
                        </h4>
                        <p class="jam">
                            09.00 - 12.00
                        </p>
                        <hr>
                    </div>
                    <div class="item">
                        <h4 class="tanggal">
                            Kamis , 6 April 2023
                        </h4>
                        <p class="jam">
                            09.00 - 12.00
                        </p>
                        <hr>
                    </div>
                    <div class="item">
                        <h4 class="tanggal">
                            Kamis , 6 April 2023
                        </h4>
                        <p class="jam">
                            09.00 - 12.00
                        </p>
                        <hr>
                    </div>
                    <div class="item">
                        <h4 class="tanggal">
                            Kamis , 6 April 2023
                        </h4>
                        <p class="jam">
                            09.00 - 12.00
                        </p>
                        <hr>
                    </div>
                    <div class="item">
                        <h4 class="tanggal">
                            Kamis , 6 April 2023
                        </h4>
                        <p class="jam">
                            09.00 - 12.00
                        </p>
                        <hr>
                    </div>
                    <div class="item">
                        <h4 class="tanggal">
                            Kamis , 6 April 2023
                        </h4>
                        <p class="jam">
                            09.00 - 12.00
                        </p>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
        <div class="journey-dokter">
            <h2 class="judul">Pengalaman Praktik</h2>
            <div class="box">
                <div class="pengalaman">
                    <p class="jabatan">
                        Dokter Spesialis Kandungan - RSUD Mangusada
                    </p>
                    <p class="tahun">
                        2016 - 2018
                    </p>
                    <hr>
                </div>
                <div class="pengalaman">
                    <p class="jabatan">
                        Dokter Spesialis Kandungan - RSUD Mangusada
                    </p>
                    <p class="tahun">
                        2016 - 2018
                    </p>
                    <hr>
                </div>
            </div>
        </div>
        <div class="pendidikan-dokter">
            <h2 class="judul">Riwayat Pendidikan</h2>
            <div class="box">
                <div class="pengalaman">
                    <p class="jabatan">
                        Kedokteran Umum -  Universitas Kristen Krida Wacana
                    </p>
                    <p class="tahun">
                        2010 - 2016
                    </p>
                    <hr>
                </div>
                <div class="pengalaman">
                    <p class="jabatan">
                        Kedokteran Umum -  Universitas Kristen Krida Wacana
                    </p>
                    <p class="tahun">
                        2010 - 2016
                    </p>
                    <hr>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div>
            <p> INI FOOTER NANTI </p>
        </div>
    </footer>
</body>
</html>