:root{
    --PINK1: #FFB8C7;
    --PINK2: #F9C6D1;
    --PINK3: #F9D7D6;
    --WHITE: #FFF7F6;
    --BLUE1: #C3E4F1;
    --BLUE2: #9FCAE6;
    --BLUE3: #78A2CC;
    --REGULAR: 400;
    --MEDIUM: 500;
    --SEMIBOLD: 600;
    --BOLD: 700;
    --EXTRABOLD: 800;
}

*{
    font-family: 'Baloo 2', cursive;
}

.container-fluid{
    background-color: pink;
}
.navbar{
    background-color: aqua;
    width: 100%;
}

.title{
    /* background-color: aquamarine; */
    font-weight: var(--SEMIBOLD);
    font-size: 2.375vw;
}

.desc{
    /* background-color: brown; */
    font-weight: var(--MEDIUM);
    font-size: 1.584vw;
    padding-bottom: 1.584vw;
}



.article{
    background-color: var(--BLUE3);
}

.book{
    background-color: var(--WHITE);
    padding-top: 1.584vw;
}

.bookimg img{
    width: 100%;
}

.bookdesc{
    /* background-color: darkseagreen; */
    text-align: center;
    font-weight: var(--MEDIUM);
    font-size: 1.584vw;
}

.btn-cstmlight{
    color: black;
    background-color: var(--PINK1);
    border-color: var(--PINK1);
    border-radius: 1.188vw;
    width: 22.169vw;
    height: 4.751vw;
    font-size: 1.584vw;
    font-weight: var(--SEMIBOLD);
    box-shadow: 0.317vw 0.317vw 0.317vw rgb(164, 164, 164) ;
}

.btn-cstmdark{
    color: var(--WHITE);
    background-color: var(--PINK2);
    border-color: var(--PINK2);
    border-radius: 1.188vw;
    width: 22.169vw;
    height: 4.751vw;
    font-size: 1.584vw;
    font-weight: var(--SEMIBOLD);
    box-shadow: 0.317vw 0.317vw 0.317vw rgb(127, 127, 127) ;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    color: black!important;
    background-color: var(--PINK2)!important;
    border-color: var(--PINK2)!important;
    border-radius: 1.188vw!important;
    width: 22.169vw!important;
    height: 4.751vw!important;
    font-size: 1.584vw!important;
    font-weight: var(--SEMIBOLD)!important;
    box-shadow: 0.317vw 0.317vw 0.317vw rgb(127, 127, 127)!important;
}

.row{
    --bs-gutter-x: 0rem!important
}

.article .btn-primary, .article .btn-primary:hover, .article .btn-primary:active, .article .btn-primary:visited{
    color: var(--WHITE)!important;
}

.paddingcustom{
    padding-left: 9.501vw;
    padding-right: 9.501vw;
    background-color: var(--WHITE);
    padding-top: 1.584vw;
    padding-bottom: 1.584vw
}

.biru{
    background-color: var(--BLUE3);
}

.full-width-content{
    padding-left: 0;
    padding-right: 0;
}

.sectionpic img{
    width: 100%;
    height: auto;
}

.awanbiru{
    /* margin-left: -1.5rem; */
    padding-left: -7.918vw;
    background-color: var(--BLUE3);
}

.article .title, .article .desc, .article .articleTitle, .article .articleDesc{
    color: var(--WHITE);
}

.article .articleDesc{
    font-size: 1.029vw;
    font-weight: var(--REGULAR);
}

.articleDesc a{
    color: var(--PINK3);
}

.article img{
    width: 100%;
}

.articleDesc a:hover{
    color: var(--PINK1);
}

.awanatas{
    transform: translate(0, 1%);
    align-items: stretch;
    z-index: 5;
    position: absolute;
    align-self: flex-end;

}

.trackbutton{
    /* transform: translate(0, 20%); */
    /* align-items: stretch; */
    z-index: 999;
    position: absolute;
    align-self: flex-end;
    text-align: center;
}

.trackbutton img{
    width: 20%;
}

.cropimg img{
    width: 100%;
    height: 43.547vw;
    object-fit: cover;
    object-position: 0 0;
}

.zoom {
    transition: transform .2s;
    padding-top: 1.584vw;
}
  
.zoom:hover {
    transform: scale(1.1);
}

.booksteps{
    padding-left: 3.959vw;
    /* background-color: red; */
}