<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tracking</title>
    <link rel="stylesheet" href="trackInput1.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <!-- <nav>

    </nav> -->
    <header>
        <div class="box"></div>
        <div class="questionBox">
            <div class="exp">
                <center>
                    <h1 class="question">
                        Have you consult your pregnancy to doctor?</h1>
                </center>
            </div>
            <div class="answer">
                <a href="">
                    <button class="yes">
                        Yes
                    </button>
                </a>
                <a href="">
                    <button class="no">
                        No
                    </button>
                </a>
            </div>
        </div>
    </header>
    <footer>

    </footer>
</body>
</html>
