<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tracking Info</title>
    <link rel="stylesheet" href="trackInfo.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&family=Roboto&display=swap" rel="stylesheet">
</head>
    <body>
        <!-- <nav>

        </nav> -->
        <header>
            <div class="box"></div>
            <div class="infoBox">
                <div class="exp">
                    <img src="./Picture/trackStage.png" alt="" class="trackStage">
                    <h1 class="title">Start your Tracking Journey!</h1>
                    <center>
                        <p class="desc">
                            Tracking adalah fitur yang membantu para ibu hamil untuk
                            memantau janin dalam kandungannya. Dengan fitur ini,
                            pengguna mendapatkan update mengenai usia, ukuran, dan
                            info penting seputar janin dalam rahim. Diperlukan beberapa
                            informasi dari pengguna untuk menunjang keakuratan fitur ini.
                            Simak dan isi pertanyaan berikut sesuai kondisi anda untuk memulai tracking!
                        </p>
                    </center>
                </div>
                <div class="continue">
                    <a href="trackInput1.html">
                        <button class="yes">
                            Agree & Continue
                        </button>
                    </a>
                </div>
            </div>
        </header>
        <!-- INI FOOTER -->
        <footer>
            <div class="foot-desc">
                <img src="./Picture/footerLogo.png" alt="" class="logo">
                <div class="jargon">
                    <center>
                        <p>
                            Make your own happy family
                        </p>
                    </center>
                </div>
                <div class="linked">
                    <div class="row1">
                        <a href="">Track</a>
                        <a href="">Book</a>
                        <a href="">Article</a>
                    </div>
                    <div class="row2">
                        <a href="">Menfess</a>
                        <a href="">Rating & Review</a>
                        <a href="">Privacy Policy</a>
                    </div>
                </div>
                <div class="sosmed">
                    <img src="./Picture/yt.png" alt="">
                    <img src="./Picture/ig.png" alt="">
                    <img src="./Picture/gmail.png" alt="">
                </div>
                <div class="skip"></div>
                <div class="copyright">
                    <p>Copyright © Hamily 2023. All Rights Reserved</p>
                </div>
            </div>
        </footer>
    </body>
</html>
