* {
    margin: 0;
    padding: 0;
}

nav {
    height: 105px;
    width: 1260px;
    background-color: white;
}

.info {
    background-image: url('./Picture/trackInfoBG.png');
    /* background-position: bottom; */
    width: auto;
    height: 924px;
}

.title {
    font-family: 'Baloo 2', cursive;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
}

.desc {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
}

.box {
    /* height: 113px; */
    height: 8.968vw;
}

.infoBox {
    /* margin-top: 113px; */
    margin-left: 17.302vw;
    margin-right: 17.302vw;
    height: 515px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    background-color: #FFF7F6;
    text-align: center;
}

.infoBox .exp {
    /* text-align: center; */
    margin-top: 13px;
}

.infoBox .exp p {
    /* margin-left: 70px; */
    width: 52.778vw;
}

.infoBox .trackStage {
    height: auto;
    width: 36.19vw;
    margin-top: 35px;
}

.continue {
    margin-top: 20px;
}

.continue .yes {
    width: 200px;
    height: 50px;
    font-family: 'Baloo 2', cursive;
    font-size: 20px;
    background-color: #78A2CC;
    color: #FFF7F6;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    border: none;
}

.continue .yes:hover {
    width: 200px;
    height: 50px;
    font-family: 'Baloo 2', cursive;
    font-size: 20px;
    background-color: #FFF7F6;
    color:#78A2CC;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    border: 3px solid #78A2CC;
    cursor: pointer;
}

@media screen (max-width: 600px){
    .infoBox{
        height: 535px;
    }

}

